<h1>Join Us</h1>
<p>Enter your email to join <strong><%=data%></strong> others on our the
  waitlist.</p>
<form action="/register" method="post">
  <input type="text" name="email" placeholder="Enter your email">
  <button>Join Now</button>
</form>
